.headerContainer {
  width: 100%;
  height: 100px;
  margin-bottom: 20px; }

#light .headerContainer {
  background-color: #0a1bb8; }

#dark .headerContainer {
  background-color: #b80a0a; }

.switchConatiner {
  width: 100%;
  height: 30px;
  display: grid;
  justify-content: flex-end;
  grid-template-columns: repeat(2, 100px); }
