@import "./styles.scss";

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.App {
  width: 100%;
  height: 100vh;
}

#light {
  background-color: $lightBackground;
}
#dark {
  background-color: $darkBackground;
}

.container {
  margin: 0 auto;
  padding: 10px 20px 20px;
  max-width: 600px;
  min-width: 288px;
  border-radius: 12px;
}

#light .container {
  background-color: $blue;
}

#dark .container {
  background-color: $red;
}

h1 {
  margin-top: 0;
  text-align: center;
}

#light h1 {
  color: $darkBackground;
}

#dark h1 {
  color: #fff;
}


.infoContainer {
  height: 100px;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#light .infoContainer label {
  color: $darkBackground;
}

#dark .infoContainer label {
  color: #fff;
}

.container h2 {
  color: #fff;
  margin: 0 auto;
  padding: 10px 0 20px 0;
  text-align: center;
}

.btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
}

#light .btn {
  color: $blue;
  border: 2px solid $blue;
  background: rgb(211, 216, 253);
}

#dark .btn {
  color: $red;
  border: 2px solid $red;
  background: rgb(253, 211, 211);
}
